---
import Layout from '../layouts/Layout.astro';
---

<Layout title="FisioVital | Fisioterapia y Osteopatía">
	<main>
		<h1 class="text-4xl font-bold text-primary">Prueba de Estilos</h1>
		<button class="bg-accent text-white px-4 py-2 rounded-lg mt-4">
			Reservar Cita
		</button>
	</main>
</Layout>